.intro {
    padding-top: 0;
    padding-bottom: 0;
    min-width: 300px;
    &#{__wrapper} {
       padding-right: 0;
       display: flex;
       position: relative;
       @include media("<desktop") {
           display: block;
            padding-left: 0px;
       }

    }

    &#{__navigation} {
        position: absolute;
        right: -62px;
        @include media("<desktop-wide") {
            right: -32px;
        }
        @include media("<desktop") {
            right: 0px;
        }
        @include media("<tablet-wide") {
            right: -20px;
        }
        @include media("<phone") {
            right: 20%;
            bottom: -20px;

        }
        &#{--aside} {
            display: flex;
            flex-direction: column;
            height: 186px;
            width: 100%;
            justify-content: space-evenly;
            @include media("<phone") {
                height: auto;
                width: 200px;
                flex-direction: row;
    
            }
        }
    }
    &#{__social} {
        position: absolute;
        top: 280px;
        right: -52px;
        @include media("<desktop-wide") {
            right: -12px;
        }
        @include media("<desktop") {
            display: none;
        }
        &#{--aside} {

            display: flex;
            flex-flow: column nowrap;
            height: 214px;
            justify-content: space-between;

        }
    }

    &#{__btn} {
        background-color: #5ABCAF;
        text-transform: uppercase;
        letter-spacing: .14em;
        width: 226px;
        height: 56px;
        font-size: 12px;
        font-weight: bold;
        line-height: 56px;
        text-align: center;
        background-color: $green-primary;
        color: white;
        padding: 18px 58px 21px;
        &:hover {
            background-color: darken(#5ABCAF, 10%);
            color: white;
        }
        &#{--dark} {
            background-color: black; 
        }
    
    }
    &#{__more} {
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: black;
        width: 72px;
        height: 72px;
        line-height: 72px;
        text-align: center;
        padding: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include media("<phone") {
            height: 52px;;
            width: 52px;
        }
        }
    &#{__icon} {
        &:hover path {
            fill: #669EFE;
        }
        
    }
    &#{__arrow} {
        &:hover path {
            stroke: #669EFE;
        }
        @include media("<phone") {
            
                transform: rotate(-90deg);
            
        }
    }
    &#{__side} {
        margin-left: 213px;
        @include media("<desktop-wide") {
            margin-left: 170px;
        }
        @include media("<tablet-wide") {
            margin: 0;
        }
    }
    &#{__anchor} {
        position: relative;
        display: flex;
        @include media("<tablet-small") {
            height: 500px;
        }
    }

    &#{__slider} {
        position: relative;
        width: 100%;
        max-width: 987px;
        height: auto;
        
        @include media("<desktop") {
            object-fit: cover;
            max-width: unset;
        }
    }
    &#{__slider-caption} {
        display: flex;
        flex-flow: row nowrap;
        position: relative;
        @include media("<tablet-wide") {
            justify-content: space-evenly;
            width: 95%;
        }
        @include media("<phablet") {
            flex-flow: column;
            align-items: center;
            padding: {
                left: 10px;
                right: 10px;
            }
        }
        .slider-caption {
            &#{__item}{
                flex-basis: 50%;
                @include media("<tablet-wide") {
                    flex-basis: unset;
                }
            }
        
            &#{__number} {
                padding: {
                    top: 20px;
                    bottom: 10px;
                }
                color: #787D88;
                letter-spacing: 2px;
                font-size: 24px;
                font-weight: 300;
            }

            &#{__header} {
                padding: {
                    top: 10px;
                    bottom: 10px;
                }
                line-height: 32px;
                letter-spacing: 1.43px;
                font-size: 20px;
                font-weight: bold;
                max-width: 350px;
            }
            &#{__date} {
                font-size: 10px;
                font-weight: 300;
                color: #787D88;
            }
        }

        
    }   
    // &#{__spacer} {
    //     min-height: 1px;
    //     width: 213px;
    //     // display: inline-block;
    // }
    &#{__article} {
        position: absolute;
        top: 220px;
        left: 20px;
        @include media("<tablet-wide") {
            top: 110px;
        }
        @include media("<tablet") {
            top: 20px;
        }
        .article {
            &#{__header} {
                color: #15181F;
                font-size: 60px;
                font-weight: bold;
                letter-spacing: 0;
                max-width: 720px;
                text-align: left;
                padding-bottom: 25px;
                @include media("<tablet-small") {
                    font-size: 40px;
                    padding-top: 0;
                }
            }

            &#{__text} {
                color: #495256;
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 0;
                line-height: 24px;
                max-width: 320px;
                padding: {
                    top: 25px;
                    bottom: 25px;
                }
            }
        }
    }
}

