@mixin push--auto {
    margin: { 
        left: auto;
        right: auto;
    }
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}

@mixin responsive-ratio($x,$y, $pseudo: false) {
    $padding: unquote( ( $y / $x ) * 100 + '%' );
    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    } @else {
        padding-top: $padding;
    }
}

@mixin background-fixed($path) {
    &::before {
        background: url( $path ) no-repeat center center;
        background-size: cover;
        content: ' ';
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        will-change: transform;
        z-index: -1;
    }
}